@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/FiraSans-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/FiraSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/FiraSans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/FiraSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/FiraSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/FiraSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/FiraSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../assets/fonts/FiraSans-Thin.ttf");
  font-weight: 300;
}
